github "LoopKit/LoopKit" "dev"
github "shortanu/CGMBLEKit" "master"
github "i-schuetz/SwiftCharts" == 0.6.5
github "shortanu/dexcom-share-client-swift" "master"
github "shortanu/G4ShareSpy" "master"
github "ps2/rileylink_ios" "dev"
github "LoopKit/Amplitude-iOS" "decreepify"
github "cyoung1024/spike-client-swift-195" "dev"
